<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/todolist2/todolist.css">
    <title>Shared To Do List #2</title>
</head>

<body>

<div class="title">Shared To Do List #2</div>

<div class="description">
    This version of "To Do List" stores its data in a Django model, managed by the Django Object-Relation Manager (ORM).
    By default the ORM is configured to store the data in a file called "db.sqlite3", but can be easily changed to
    store the data in a relational (or non-relational) database server.
</div>

<div class="login-info">
    You are logged in as
    {{ request.user.first_name }}
    {{ request.user.last_name }}
    (username = {{ request.user.username }})
</div>

{% if error %}
    <div class="error">
        {{error}}
    </div>
{% endif %}

<form class="add-form" action="{% url 'add-item' %}" method="post">
    <label>Item to add:</label>
    <input type="text" name="item" autofocus>
    <input type="submit">
    {% csrf_token %}
</form>

<div class="sub-title"> Current todo list: </div>
<ol>
    {% for item in items %}
        <li>
            <form class="delete-form"
                  action="{% url 'delete-item' item.id %}"
                  method="POST">
                <input type="submit" value="X"
                    {%  if request.user != item.user %}
                        style="visibility: hidden"
                    {%  endif %}
                >
                {% csrf_token %}
            </form>
            {{item.text}}
            <span class="details">
                (id={{item.id}},
                user={{item.user}},
                ip_addr={{item.ip_addr}})
            </span>
        </li>
    {% endfor %}
</ol>

<form action="{% url 'logout' %}" method="get">
    <input type="submit" value="Logout">
</form>

</body>
</html>
