<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/todolist2/todolist.css">
    <title>Shared To Do List #2</title>
</head>

<body>

<div class="title">Unauthorized</div>

<div class="login-info">
    You are logged in as
    {{ request.user.first_name }}
    {{ request.user.last_name }}
    (email={{ request.user.email }})
</div>

<div class="login-info">
    You must login with a CMU identity (ending in @andrew.cmu.edu) to access this site.
</div>

<form action="{% url 'logout' %}" method="get">
    <input type="submit" value="Logout">
</form>

</body>
</html>
